/*GridViewCSS*/
.GridViewStyle
{
	font-family:Consolas;
	font-size: 8pt;
	table-layout: auto;
	border: solid 1px #DEDFDE;
	width: 100%;
}

.gridviewDiv
{
	width: 99%;
	max-height: 400px;
	height:262px;
	overflow:auto;
	text-align:left;
}

/*Header and Pager styles*/
.FooterStyle
{
	font-family: verdana;
	font-size: 8pt;
	table-layout: auto;
	border: solid 1px #DEDFDE;
	width: 100%;
}
.EditRowStyle
{
	font-family: verdana;
	font-size: 8pt;
	table-layout: auto;
	border: solid 1px #DEDFDE;
	width: 100%;
}

.HeaderStyle
{
	background-image: url(./Images/GridHeader.png);
	background-position: top left;
	background-repeat: repeat-x;
	background-color: #d3d3d3;
	height: 20px;
	text-align: center;
	border: solid 1px #DEDFDE;
	border-collapse: collapse;
	font-size: 9pt;
}
.HeaderStyle_lowheight
{
	background-image: url(./Images/GridHeader.png);
	background-position: top left;
	background-repeat: repeat-x;
	background-color: #d3d3d3;
	height: 15px;
	text-align: center;
	border: solid 1px #DEDFDE;
	border-collapse: collapse;
	font-size: 9pt;
}
.HeaderStyle th, .HeaderStyle_lowheight th
{
	padding: 5px;
	color: white;
	text-align: center;
	white-space: nowrap;
	border: solid 1px #DEDFDE;
	border-collapse: collapse;
}
.HeaderStyle a, .HeaderStyle_lowheight a
{
	background-image: url(../Blue/sort_none.gif);
	background-repeat: no-repeat;
	background-position: right;
	text-decoration: none;
	color: white;
	display: block;
	font-weight: Bold;
	text-align: center;
}
.PagerStyle
{
	background-image: url(./Images/GridHeader.png);
	background-position: top left;
	background-repeat: repeat-x;
	background-color: #d3d3d3;
	text-align: center;
	border: solid 1px #DEDFDE;
	border-collapse: collapse;
	font-size: 9pt;
}
.PagerStyle table
{
	margin: auto;
}
.PagerStyle table td
{
	border: 1px;
	padding: 5px;
}
.PagerStyle table td
{
	background-image: url( "../Blue/midtab.gif" );
	background-position: center;
	background-repeat: repeat-x; /*   background-color:#1d1d1d;*/
}
.PagerStyle a
{
	font: 11px Verdana, Arial, Helvetica, sans-serif;
	color: white;
	padding: 2px 10px 2px 10px;
	background-image: url(../Blue/Device_ButtonBG2.gif);
	background-repeat: repeat;
	border-top: solid 1px #5CA9E8;
	border-left: solid 1px #5FABE7;
	border-bottom: solid 1px #327AB5;
	border-right: solid 1px #5191C5;
	font-weight: normal;
	height: 20px;
	vertical-align: middle;
	text-align: center;
	cursor: pointer;
	text-decoration: none;
}

.PagerStyle span
{
	font-weight: bold;
	color: white;
	text-decoration: none;
	padding: 2px 10px 2px 10px;
}
/*RowStyles*/
.RowStyle_lowheight td, .AltRowStyle_lowheight td
{
	height: 18px;
	max-width: 350px;
	background-color: #d3d3d3;
	border: solid 1px #DEDFDE;
	white-space: nowrap;
	padding-left: 5px;
}

.RowStyle_lowheight_wrap td, .AltRowStyle_lowheight_wrap td
{
	height: 18px;
	max-width: 350px;
	background-color: #d3d3d3;
	/*border: solid 1px #DEDFDE;*/
	border: solid 1px #A8A8A8;
	padding-left: 5px;
}

/*.AltRowStyle_lowheight td    
{
	max-width:350px;
    background-color: #ffffff;
	border:solid 1px #DEDFDE;
	white-space: nowrap;
}*/
.RowStyle td, .AltRowStyle td, .SelectedRowStyle td, .EditRowStyle td, .FooterStyle td /*Common Styles*/
{
	padding: 5px;
	height: 25px;
	white-space: nowrap; /* border-right: solid 1px #1d1d1d;*/
}
.RowStyle td
{
	max-width: 350px;
	background-color: #d3d3d3;
	border: solid 1px #DEDFDE;
	white-space: nowrap;
}
.AltRowStyle td
{
	max-width: 350px;
	background-color: #d3d3d3;
	border: solid 1px #DEDFDE;
	white-space: nowrap;
}
.SelectedRowStyle td
{
	background-color: #d3d3d3;
	white-space: nowrap;
}
.EmptyRowStyle
{
	background-color: #d3d3d3;
	color: Red;
	font-size: 10pt;
}

sortascheaderstyle
{
	background-image: url( "../Blue/bg_mnu_normal.gif" );
	background-position: Center;
	background-repeat: repeat-x;
	background-color: #B9D5EA;
	height: 22px;
	border: solid 1px #AFCBDF;
}

.sortascheaderstyle a
{
	background-image: url(../Blue/sort_asc.gif);
	background-repeat: no-repeat;
	background-position: right;
}
.sortdescheaderstyle
{
	background-image: url( "../Blue/bg_mnu_normal.gif" );
	background-position: Center;
	background-repeat: repeat-x;
	background-color: #B9D5EA;
	height: 22px;
	border: solid 1px #AFCBDF;
}
.sortdescheaderstyle a
{
	background-image: url(../Blue/sort_desc.gif);
	background-repeat: no-repeat;
	background-position: right;
}

.descpStyle
{
}


.SelectedRowStyle td
{
	background-color: #ffff66;
	white-space: nowrap;
}
.EmptyRowStyle
{
	background-color: #fffff6;
	color: Red;
	font-size: 10pt;
}
