body
{
    margin: 0px;
    background-color: #C8C8C8;
    font-family: Verdana;
    font-size: 62.5%;
}
.pagewidth
{
    width: 1000px;
}
.contentdiv
{
    background-color: #E8E8E8;
    padding: 5px;
    min-height: 500px;
}
* html div.contentdiv
{
   /* height: expression( this.scrollHeight < 541 ?     "540px" : "auto" ); /* sets min-height for IE */
   /* height: expression( this.scrollHeight < 501 ?     "500px" : "auto" );  sets min-height for IE */
}

/* Banner */
.banner
{
   /* background-image: url(./Images/RM_Banner.png); */
    background-image: url(./Images/KPCL-Banner.jpg);
    background-position: top left;
    background-repeat: no-repeat;
    height: 48px;
         
}

/**************** End ******************/

/* TextBox classess */
.textboxshort
{
    font-family: Consolas;
    font-size: 12px;
    font-weight: normal;
    color: #425B79;
    width: 75px;
}

.textbox
{
    font-family:Consolas;
    font-size: 12px;
    font-weight: normal;
    color: #425B79;
    width: 150px;
}

.textboxLong
{
    font-family: Consolas;
    font-size: 12px;
    font-weight: normal;
    color: #425B79;
    width: 195px;
}
.textboxRemarks
{
    font-family: Consolas;
    font-size: 12px;
    font-weight: normal;
    color: #425B79;
    width: 510px;
    height: 30px;
}

.datetextbox
{
    font-family: Verdana;
    font-size: 12px;
    font-weight: normal;
    color: #425B79;
    width: 130px;
}
.textboxMultiline
{
    font-family: Verdana;
    font-size: 10px;
    font-weight: normal;
    color: #425B79;
    width: 150px;
}

.textboxLongMultiline
{
    font-family: Consolas;
    font-size: 10px;
    font-weight: normal;
    color: #425B79;
    width: 195px;
}
/**************** End ******************/
/* DropDownList classess */
.ddClassshort
{
    font-family: Consolas;
    font-size: 12px;
    width: 100px;
}
.ddClass
{
    font-family: Consolas;
    font-size: 12px;
    width: 155px;
}
.ddClassMedium
{
    font-family: Consolas;
    font-size: 12px;
    width: 155px;
}


.ddClassLong
{
    font-family: Consolas;
    font-size: 12px;
    width: 200px;
}
.ddClassXLong
{
    font-family: Consolas;
    font-size: 12px;
    width: 275px;
}
/* checkboxlist/radiobuttonlist classess */
.listClass input[type=checkbox], input[type=radio]
{
    float: left;
    display: inline;
    cursor: pointer;
}
.listClass label
{
    float: left;
    display: inline;
    cursor: pointer;
    font-family: Calibri, Verdana;
    line-height: 20px;
    text-indent: 2px;
    white-space: nowrap;
    font-size: 12px;
}
/**************** End ******************/
/* Feedback Control message classess */
.errorfeedback
{
    font-family: Verdana;
    font-size: 11px;
    color: Red;
    font-weight: bold;
}

.feedback
{
    font-family: Verdana;
    font-size: 11px;
    color: Green;
    font-weight: bold;
}

.infofeedback
{
    font-family: Verdana;
    font-size: 11px;
    color: blue;
    font-weight: bold;
}
/**************** End ******************/


legend
{
    background-image: url(./Images/menustrip2.png);
    background-position: 1px left;
    background-repeat: repeat-x;
    background-color: #B9D5EA;
    /*background-color: black;*/
    width: 220px;
    height: 15px;
    font-size: 8pt;
    font-family: Consolas;
    font-weight: bold;
    color: #000000;
    border: 1px solid white;
    text-align: center;
    padding: 3px;
}

.labels
{
    font-family: Consolas;
    font-size: 11px;
    font-weight: normal;
    color: #425B79;
    padding: 0px 5px;
}

.labelsFormatted
{
    font-family: Verdana;
    font-size: 10px;
    font-weight: normal;
    color: Blue;
    font-weight: bold;
    padding: 0px 5px;
}

.stepTable
{
    font-family: Verdana;
    font-size: 11px;
    font-weight: bold;
    color: #425B79;
}

.stepTable tr
{
    background-color: #006699;
    background-image: url(Images/bannerstrip5.jpg);
    background-position: top left;
    background-repeat: repeat;
}

.stepTable tr td
{
    color: White;
    font-weight: bold;
    padding-left: 5px;
    height: 25px;
}

.stepTable tr td.stepActive
{
    background-color: #B7DBFF;
    background-image: url(Images/stepActive1.png);
    background-position: top right;
    width: 70px;
    height: 25px;
    color: White;
    font-size: 10px;
}

.stepTable tr td.stepInActive
{
    color: Gray;
    font-weight: bold;
    padding-left: 5px;
    background-color: #B7DBFF;
    width: 60px;
    height: 25px;
    font-size: 10px;
}


.buttons
{
    border: 1px solid #4297d7;
    background: #5c9ccc url(images/ui-bg_gloss-wave_55_5c9ccc_500x100.png) 50% 50% repeat-x;
    color: #ffffff;
    width: 100px;
    font-weight: bold;
}



.footer
{
    background-image: url(./Images/bannerstrip5.jpg);
    background-position: top left;
    background-repeat: repeat;
    height: 20px;
    line-height: 20px;
    font-family: Verdana;
    font-size: 7pt;
    color: White;
}



.topDiv
{
    border: solid 1px silver;
}

.breakDiv
{
    font-size: 1px;
    line-height: 1px;
    height: 10px;
}


/***** Start Content Page table style *****/

.trheader
{
    background-color: #006699;
    color: White;
    font-weight: bold;
    background-image: url(Images/bannerstrip5.jpg);
    background-position: top left;
    background-repeat: repeat;
}
.tdheader
{
    background-color: #006699;
    color: White;
    /*font-weight: bold;*/
    font-size: 14px;
    width: 300px;
    height: 15px;
    background-image: url(Images/bannerstrip5.jpg);
    background-position: top left;
    background-repeat: repeat;
}
.tdLabels
{
    background-color: #B7DBFF;
    text-align: left;
    width: 150px;
}
.tdControls
{
    background-color: #DDECEF;
    text-align: left;
    width: 150px;
}
.tdErrors
{
    background-color: #DDECEF;
    text-align: left;
    width: 140px;
}
.tdFooter
{
    text-align: center;
}

/***** End Content Page table style *****/